/*website*/

html, body{
	height: 100%;
}

.shade{
	background-color: rgba(0, 0, 0, 0.9);
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
}

/*header*/

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}

nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
}

nav ul{
	padding: 10px 0;
	background-color: rgb(40,40,50); 
}

nav li{
	display: inline-block;
	font-size: 20px;
	margin: 0 15px;
}

a:hover{
	color: blue;
}

header{
	text-align: center;
	background-image: url('../images/code.jpg');
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	height: 100%;
}

header h1, header h2{
	display: inline-block;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}

header h1{
	margin-top: 25%;
	font-size: 50px;
	padding: 0 10px;
}

header h2{
	margin-top: 50px;
	padding: 5px 10px;
}

/*projects*/

#projects{
	text-align: center;
}

#projects h2, #about h2, #contact h2{
	background-color: black;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	font-size: 50px;
	border-radius: 5px;
	margin-top: 50px;
}

#projects h3{
	margin: 20px;
}

#projects a{
	color: black;
}

#projects a:hover{
	color: blue;
}

.title{
	margin: 20px 0;
	font-size: 30px;
}

#allo, #legend, #greg, .story, .skills, #contact ul{
	display: inline-block;
	width: 66%;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: rgb(192,192,192);
}

#projects p, #about p{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

p.tech{
	font-size: 25px;
}

#projects .app img{
	border-radius: 5px;
	transition-duration: .4s;
	opacity: .5;
}

#projects .app img:hover{
	opacity: 1;
	transition-duration: .4s; 
} 

.github img{
	margin: 20px 0;
	height: 75px;
	transition-duration: .4s; 
}

.github img:hover{
	filter: invert(100%);
	transition-duration: .4s; 
}

/*about*/

.chicago{
	background: url('../images/chicago.jpg');
	height: 75%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
}

#about{
	text-align: center;
}

#about h2{
	margin-bottom: 50px;
}

#about h3{
	font-size: 30px;
	margin: 20px 0;
}

#about p{
	margin-bottom: 20px;
}

#about .modal-button{
	border: none;
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 30px;
	font-size: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
	transition-duration: .4s;
}

.resume{
	display: none;
	border: none;
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 10px 10px;
	font-size: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
	transition-duration: .4s;
}

#about button:hover{
	opacity: .5;
	transition-duration: .4s;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 65%;
  height: 98%;
  z-index: 99;
}

/*contact*/

#contact{
	text-align: center;
}

#contact h2{
	margin-bottom: 50px;
}

#contact .me{
	display: block;
	height: 350px;
	border-radius: 200px;
	border: black solid 5px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#contact h3{
	font-size: 30px;
}

#contact li{
	display: inline-block;
}

#contact ul img{
	height: 75px;
	transition-duration: .4s;
	margin: 0 75px;
}

#contact ul a img:hover{
	filter: invert(100%);
	transition-duration: .4s;
}

#contact a{
	color: black;
}

#contact a:hover{
	color: blue;
}

#contact p{
	margin: 20px;
}

/*phones*/

@media screen and (max-width: 1080px){
	header, .chicago{
		background-attachment: scroll;
	}
	header h1{
		margin-top: 50%;
	}
	nav li{
		font-size: 15px;
	}
	#allo, #legend, #greg, .story, .skills, #contact ul{
		width: 95%;
	}
	#projects .app img{
		opacity: 1;
		width: 95%;
	}
	#projects .app img:hover{
		opacity: .5;
	}
	#about .modal-button{
		display: none;
	}
	.resume{
		display: inline-block;
	}
	#contact li{
		display: block;
	}
}