html, body{
	height: 100%;
}

.shade{
	background-color: rgba(0, 0, 0, 0.9);
}

*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
}

header{
	border: solid black 1px;
	height: 100%;
	/*display: table-cell;*/
}

header, section h2, section h3{
	text-align: center;
}

header h1{
	display: inline-block;
	background-color: white;
	margin-top: 25%;
	font-size: 50px;
	padding: 0 10px;
	border-radius: 5px;
	/*vertical-align: middle;*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}

.name{
	margin: auto;
	vertical-align: middle;
}

header h2{
	display: inline-block;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
	padding: 5px 10px;
	border-radius: 5px;
	/*margin-bottom: 36%;*/
}

header{
	background-image: url('../images/code.jpg');	
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	height: 100%;
}

nav{
	position: fixed;
	top: 0;
	width: 100%;
	/*top: -250px;*/
}

h1::before ,h2::before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
  pointer-events: none;
}

nav ul{
	list-style: none;
	padding: 10px 0;
	margin: 0;
	background-color: black; 
}

nav li{
	display: inline-block;
	font-size: 20px;
	margin: 0 15px;
}

nav a{
	color: white;
}

nav a:hover, nav a:active{
	color: blue;
}

#projects{
	width: 100%;
	height: 120%;
	text-align: center;
}

#projects h2{
	background-color: black;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	font-size: 50px;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
	/*text-align: center;*/
}

#allo, #legend, #greg{
	float: left;
	width: 28%;
	height: 75%;
	margin-left: 4%;
	border-radius: 5px;
	background-color: gray;
	color: white;
}

#projects p{
	width: 90%;
	margin: 0 auto;
	padding: 0 5px;
	/*border-radius: 5px;*/
	/*background-color: black;*/
	text-align: center;
}

#projects .text{
	margin-top: 10px;
}

form{
	text-align: center;
}

#allo button{
	background: url("../images/allo.png");
}

#greg button{
	background: url("../images/list.png");
}

#legend button{
	background: url("../images/legend.png");
}

#projects button{
	border: none;
	margin-top: 20px;
	height: 300px;
	width: 90%;
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: top;
	border-radius: 10px;
	transition-duration: .4s; 
}


#projects button:hover{
	opacity: .7;
	height: 350px;
	width: 100%;
	transition-duration: .4s; 
} 


/*#allo{
	margin-left: 20px;
	margin: 0 auto;
	border: 1px black solid;
	display: inline-block;
}*/

.chicago{
	background: url('../images/chicago.jpg');
	height: 125%;
	/*background-repeat: no-repeat;*/
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
}

#about{
	margin-top: 20px;
	height: 50%;
}
#about p{
	text-align: center;
}

.modal {
  display: none;
  position:fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 90%;
  text-align: center;
  box-sizing:border-box;
  box-shadow:0 0 20px rgba(0,0,0,.2);
}

#contact{
	height: 50%;
	margin: 0 auto;
}

#contact ul{
	text-align: center;
	list-style: none;
	padding: 10px 0;
	margin: 0;
}

#contact li{
	display: inline-block;
	margin: 0 15px;
}


#contact img{
	height: 75px;
}

